$dark-theme: "dark-them";
$light-theme: "light-theme";

$primary-color: "primary-color";
$inline-color: "inline-color";
$outline-color: "outline-color";
$shadow-color: "shadow-color";
$body-background: "body-background";
$text-color: "text-color";
$href-color: "href-color";

$themes: ( 
  $light-theme: ( 
    $primary-color: #FF8B1F, 
    $inline-color: #1A0C00, 
    $outline-color: #1A0C00, 
    $shadow-color: #FF7B00,
    $body-background: #A34F00,
    $text-color: #FFDAB8,
    $href-color: #927FBF,
  ), 
  $dark-theme: ( 
    $primary-color: #FF8B1F, 
    $inline-color: #1A0C00, 
    $outline-color: #1A0C00, 
    $shadow-color: #FF7B00,
    $body-background: #A34F00,
    $text-color: #FFDAB8,
    $href-color: #927FBF,
  ) 
);

@mixin themePropertyAdditional($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
  }
  @else {
    #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
  }
}

@mixin themeAdditional($property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themePropertyAdditional($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);

  @media (prefers-color-scheme: dark) {
    @include themePropertyAdditional($dark, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
  }
}

@mixin themeProperty($theme, $property, $color) {
    #{$property}: map-get($theme, $color);
}

@mixin theme($property, $color) {
    $light: map-get($themes, $light-theme);
    $dark: map-get($themes, $dark-theme);

    @include themeProperty($light, $property, $color);

    @media (prefers-color-scheme: dark) {
      @include themeProperty($dark, $property, $color);
    }
}
 

$font-stack: 'CCUpUpAndAway', sans-serif;
$font-inline: 'CCUpUpAndAwayInline', sans-serif;
$font-outline: 'CCUpUpAndAwayOutline', sans-serif;
$font-shadow: 'CCUpUpAndAwayShadow', sans-serif;
$font-radikal: 'Radikal', sans-serif;

body {
  font: 21px $font-radikal;
  max-width: 1500px;
  margin: 0 auto;
  @include theme('color', $text-color);
  @include theme('background-color', $body-background);
}

a {
  @include theme('color', $href-color);
}

.my-img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100vh;
  // margin: auto;
}

.my-video {
  margin-top: 10px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.spiel {
  padding-top: 50px;
  padding-bottom: 50px;
}

.comic::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(text);
  font-family: $font-shadow;
  pointer-events: none;
  margin: 0 auto;
  width: 100%;
  @include theme('color', $shadow-color);
}
 

.comic {
  position: relative;
  font: 4rem $font-stack;
  letter-spacing: .2em;
  text-align: center;
  @include theme('color', $text-color);
}

.page-content {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 2;
  font-size: 24px;
}


.comic::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(text);
  font-family: $font-outline;
  pointer-events: none;
  margin: 0 auto;
  width: 100%;
  @include theme('color', $outline-color);
}

.about-me {
  border: 2px solid #472300;
  background-color: #FFDAB8;
  color: #472300;
  min-width: 0;
}

.splash-link {
  position: relative;
  display: inline-block;
  width: max-content;
}

.splash {
  z-index: 1;
  position: absolute;
  display: inline-block;
  background: #FF8B1F;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 27% 24%, 28% 0%, 46% 24%, 60% 0%, 71% 28%, 99% 1%, 83% 30%, 99% 28%, 84% 40%, 100% 51%, 82% 60%, 100% 69%, 78% 73%, 100% 100%, 66% 79%, 61% 100%, 45% 78%, 33% 100%, 28% 81%, 0% 100%, 21% 65%, 0% 61%, 24% 47%, 0% 32%, 15% 28%);
}

.about-me a {
  z-index: 20;
  position: relative;
  display: inline-block;
  font: 4rem $font-stack;
  letter-spacing: .2em;
  text-align: center;
  @include theme('color', $href-color);
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.1vmin var(--black)) drop-shadow(0 0 0.1vmin var(--black)) drop-shadow(0 0 0 var(--black)) drop-shadow(0 0 0 var(--black)) drop-shadow(0 0 0 var(--black)) drop-shadow(0 0 0 var(--black)) drop-shadow(0 0 0 var(--black));
}

.comic-container {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}


.blogs {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #D16500;
  background-image: radial-gradient(#753900 20%, transparent 0), radial-gradient(#753900 20%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.blogs-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1500px;
}

.grid-font-size {
  font: 15cqw $font-stack;
}

.blog-dev {
  container-type: inline-size;
  border: 2px solid #DAB8FF;
  grid-column: 1;
  grid-row: 1;
  background-color: #4F00A3;
  color: #DAB8FF;
  min-width: 0;
  background: 
    radial-gradient(circle at 50% 50%, #4F00A3 0 4vmin, #fff0 10vmin 100%), 
    repeating-conic-gradient(from 0deg at 50% 50%, #4F00A3 0 6deg, #6500D1 0 12deg);
}

.blog-writing {
  container-type: inline-size;
  border: 2px solid #B8FFDA;
  grid-column: 2;
  grid-row: 1;
  background: 
    radial-gradient(ellipse at 50% 50%, #00A34F 0 12vmin, #fff0 30vmin 100%), 
    repeating-conic-gradient(from 0deg at 50% 50%, #00A34F 0 6deg, #00D165 0 12deg);
  color: #B8FFDA;
  min-width: 0;
}

.projects {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #D16500;
  background-image: radial-gradient(#753900 20%, transparent 0), radial-gradient(#753900 20%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.projects-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.project-alphabet {
  container-type: inline-size;
  border: 2px solid #B8FFDA;
  background: 
    radial-gradient(ellipse at 50% 50%, #00A34F 0 12vmin, #fff0 30vmin 100%), 
    repeating-conic-gradient(from 0deg at 50% 50%, #00A34F 0 6deg, #00D165 0 12deg);
  color: #B8FFDA;
  min-width: 0;
  grid-column: 1;
  grid-row: 2;
}

.project-sunflower {
  container-type: inline-size;
  border: 2px solid #DAB8FF;
  background: 
    radial-gradient(ellipse at 50% 50%, #4F00A3 0 12vmin, #fff0 30vmin 100%), 
    repeating-conic-gradient(from 0deg at 50% 50%, #4F00A3 0 6deg, #6500D1 0 12deg);
  color: #DAB8FF;
  grid-column: 2;
  grid-row: 1;
}

.project-horta {
  container-type: inline-size;
  border: 2px solid #FFDAB8;
  background: 
    radial-gradient(ellipse at 50% 50%, #A34F00 0 8vmin, #fff0 15vmin 100%), 
    repeating-conic-gradient(from 0deg at 50% 50%, #A34F00 0 6deg, #D16500 0 12deg);
  color: #FFDAB8;
  min-width: 0;
  grid-column: 1;
  grid-row: 1;
}

.center-text {
  margin-top: 34px;
  margin-bottom: 34px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.center-video {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  max-width: 1338px;
  padding: 34px;
  vertical-align: middle;
  text-align: center;
}

.post-tile {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  box-sizing: border-box;
  display: block;
  max-width: 1000px;
  margin: 20px auto; 
  width: 100%;
  padding: 15px;
}

.post-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
}

p {
  margin: 0 0 0 0;
}

.arr {
  font-size:32px;
  width:100%;
  @include themeAdditional('border', $primary-color, true, '2px solid');
  display:inline-block;
  background-color:transparent;
  text-align: center;
  @include theme('color', $text-color);
}

.flex {
  flex: 1;
}

.backspace_button {
  @include theme('border-color', $text-color);
  @include theme('color', $text-color);
}

.choice_button {
  @include theme('border-color', $text-color);
  @include theme('color', $text-color);
}

.guess_div {
  @include theme('border-color', $outline-color);
}

.snackbar {
  @include theme('background-color', $shadow-color);
}

.horta-next-card {
  background-color: #FD7014;
  @include theme('color', $body-background);
}

.horta-wrong-card {
  flex: 0 0 auto;
  font-size: calc(16px + .6vw);;
  display: flex;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 4px;
  margin-left: 3px;
  margin-right: 3px;
  justify-content:center;
  text-align:center;
  align-items:center;
  max-width: 100px;
  width: 9%;
  border-color: red;
  background-color: red;
  @include theme('color', $body-background);
}

@media (hover: hover) {
  .horta-button:hover {
    background-color: #FD7014;
    @include theme('color', $body-background);
  }
}

.horta-button:active {
  background-color: #FD7014;
  @include theme('color', $body-background);
}

.wrap {
  font: 15cqw $font-stack;
  letter-spacing: .2em;
  text-align: center;
  @include theme('color', $shadow-color);
}

//Personal Guidelines
// Use 800 as background
// 700 for hover
// 950 for dark overlays that need text
// 50/10 for text 
// 400 and 500 for borders and fun colors
// 100 for hover text


// # Orange
// --color-50: #FFF2E6;
// --color-100: #FFDAB8;
// --color-200: #FFC28A;
// --color-300: #FFAB5C;
// --color-400: #FF8B1F;
// --color-500: #FF7B00;
// --color-600: #D16500;
// --color-700: #A34F00;
// --color-800: #753900;
// --color-900: #472300;
// --color-950: #1A0C00;

// #Green
// --color-50: #E6FFF2;
// --color-100: #B8FFDA;
// --color-200: #8AFFC2;
// --color-300: #5CFFAB;
// --color-400: #1FFF8B;
// --color-500: #00FF7B;
// --color-600: #00D165;
// --color-700: #00A34F;
// --color-800: #007539;
// --color-900: #004723;
// --color-950: #001A0C;

// # Purple
// --color-50: #F2E6FF;
// --color-100: #DAB8FF;
// --color-200: #C28AFF;
// --color-300: #AB5CFF;
// --color-400: #8B1FFF;
// --color-500: #7B00FF;
// --color-600: #6500D1;
// --color-700: #4F00A3;
// --color-800: #390075;
// --color-900: #230047;
// --color-950: #0C001A;
