$dark-theme: "dark-them";
$light-theme: "light-theme";

$primary-color: "primary-color";
$inline-color: "inline-color";
$outline-color: "outline-color";
$shadow-color: "shadow-color";
$body-background: "body-background";
$text-color: "text-color";
$href-color: "href-color";

$themes: ( 
  $light-theme: (
    $primary-color: #FD7014, 
    $inline-color: #222831, 
    $outline-color: #222831, 
    $shadow-color: #393E46,
    $body-background: #EEEEEE,
    $text-color: #222831,
    $href-color: #4F3B78,

  ), 
  $dark-theme: ( 
    $primary-color: #EEEEEE, 
    $inline-color: #393E46, 
    $outline-color: #393E46, 
    $shadow-color: #FD7014,
    $body-background: #222831,
    $text-color: #EEEEEE,
    $href-color: #927FBF,
  ) 
);

@mixin themePropertyAdditional($theme, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote($additionalProperties + ' ' + map-get($theme, $color));
  }
  @else {
    #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
  }
}

@mixin themeAdditional($property, $color, $additionalPropertiesPositionIsFront, $additionalProperties) {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themePropertyAdditional($light, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);

  @media (prefers-color-scheme: dark) {
    @include themePropertyAdditional($dark, $property, $color, $additionalPropertiesPositionIsFront, $additionalProperties);
  }
}

@mixin themeProperty($theme, $property, $color) {
    #{$property}: map-get($theme, $color);
}

@mixin theme($property, $color) {
    $light: map-get($themes, $light-theme);
    $dark: map-get($themes, $dark-theme);

    @include themeProperty($light, $property, $color);

    @media (prefers-color-scheme: dark) {
      @include themeProperty($dark, $property, $color);
    }
}
 

$font-stack: 'CCUpUpAndAway', sans-serif;
$font-inline: 'CCUpUpAndAwayInline', sans-serif;
$font-outline: 'CCUpUpAndAwayOutline', sans-serif;
$font-shadow: 'CCUpUpAndAwayShadow', sans-serif;
$font-radikal: 'Radikal', sans-serif;

body {
  font: 21px $font-radikal;
  max-width: 1500px;
  margin: 0 auto;
  @include theme('color', $text-color);
  @include theme('background-color', $body-background);
}

a {
  @include theme('color', $href-color);
}

.my-img {
  margin-top: 10px;
  max-width: 500px;
}

.my-video {
  margin-top: 10px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.spiel {
  padding-top: 50px;
  padding-bottom: 50px;
}

.comic::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(text);
  font-family: $font-shadow;
  pointer-events: none;
  margin: 0 auto;
  width: 100%;
  @include theme('color', $shadow-color);
}
 

.comic {
  position: relative;
  font: 42px $font-stack;
  letter-spacing: .2em;
  text-align: center;
  @include theme('color', $primary-color);
}

.page-content {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 2;
  font-size: 16px;
}


.comic::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: attr(text);
  font-family: $font-outline;
  pointer-events: none;
  margin: 0 auto;
  width: 100%;
  @include theme('color', $outline-color);
}

.comic-container {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.blogs {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  @include themeAdditional('border-top', $primary-color, true, '2px solid');
  @include themeAdditional('border-bottom', $primary-color, true, '2px solid');
}

.blogs-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.blog-dev {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  grid-column: 1;
  grid-row: 1;
}

.blog-violin {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  grid-column: 2;
  grid-row: 1;
}

.blog-writing {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  grid-column: 1;
  grid-row: 2;
}

.blog-random {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  grid-column: 2;
  grid-row: 2;
}

.projects {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  @include themeAdditional('border-top', $primary-color, true, '2px solid');
  @include themeAdditional('border-bottom', $primary-color, true, '2px solid');
}

.projects-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.project-alphabet {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  grid-column: 1;
  grid-row: 1;
}

.project-sunflower {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  grid-column: 2;
  grid-row: 1;
}
.project-horta {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  grid-column: 1;
  grid-row: 2;
}

.center-text {
  margin-top: 34px;
  margin-bottom: 34px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.center-video {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  max-width: 1338px;
  padding: 34px;
  vertical-align: middle;
  text-align: center;
}

.post-tile {
  @include themeAdditional('border', $primary-color, true, '2px solid');
  box-sizing: border-box;
  display: block;
  max-width: 1000px;
  margin: 20px auto; 
  width: 100%;
  padding: 15px;
}

.post-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
}

p {
  margin: 0 0 0 0;
}

.arr {
  font-size:32px;
  width:100%;
  @include themeAdditional('border', $primary-color, true, '2px solid');
  display:inline-block;
  background-color:transparent;
  text-align: center;
  @include theme('color', $text-color);
}

.flex {
  flex: 1;
}

.backspace_button {
  @include theme('border-color', $text-color);
  @include theme('color', $text-color);
}

.choice_button {
  @include theme('border-color', $text-color);
  @include theme('color', $text-color);
}

.guess_div {
  @include theme('border-color', $outline-color);
}

.snackbar {
  @include theme('background-color', $shadow-color);
}

.horta-next-card {
  background-color: #FD7014;
  @include theme('color', $body-background);
}

.horta-wrong-card {
  flex: 0 0 auto;
  font-size: calc(16px + .6vw);;
  display: flex;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  padding: 4px;
  margin-left: 3px;
  margin-right: 3px;
  justify-content:center;
  text-align:center;
  align-items:center;
  max-width: 100px;
  width: 9%;
  border-color: red;
  background-color: red;
  @include theme('color', $body-background);
}

@media (hover: hover) {
  .horta-button:hover {
    background-color: #FD7014;
    @include theme('color', $body-background);
  }
}

.horta-button:active {
  background-color: #FD7014;
  @include theme('color', $body-background);
}

